
/*Selector Unitario*/

*{
    padding: 0;
    margin: 0;
    
    }
    
    /*Selector de Etiqueta*/
    
    body {
        background-color: #472d18;
        color: white;
    }
    
    /*Selector de Clase*/
    
    .img {
        width: 200px;
        height: auto;
        border-radius: 1px;
        padding: 5px;
        justify-items: center;
    }

    .img-aside{
        width: 200px;
        height: auto;
        border-radius: 1px;
        padding: 1px;   
        justify-items: center;
    }
    
    .texto {
        text-align: justify;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        padding: 5px 25px;
        color: #000;
    }
    
    .encabezado-articulo {
        padding: 10px;
        text-align: center;
        background-color: #55260496;
        color: rgb(255,255,255);
        margin: 1em 2em;
        border-radius: 5px;
    }
    
    .encabezado-aside {
        padding: 10px;
        text-align: center;
        background-color: rgb(95, 55, 12);
        color: white;
        margin: 1em 2em;
    }
    
    .menu-aside {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        padding: 0 25px;
    }
    
    .lista-aside {
        padding: 4px;
    }
    
    .lista-aside li {
        display: flex; 
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        padding: 0 2px;
        color: black;
    }
    
    /*Selector ID*/
    
    #contenedor {
        width: 900px;
        height: 1000px;
        background-color: #422604;
        max-width: 0 auto;
        border-radius: 5px;
    }
    
    #encabezado{
        width: 60%;
        background-color: #5D3100;
        margin: 1em;
        padding: 0 50px;
        border-radius: 5px;
    }
    
    #menu {
       height: 5%;
       background-color: #72542dbe;
       margin: 1em;
       border-radius: 5px;
    
    }
    
    #contenido {
        height: 75%;
        width: 58%;
        background-color: #966d51;
        margin: 0.5em;
        display: inline-block;
        border-radius: 5px;
        text-align: center;
    }
    
    #fueraSeccion {
        height: 75%;
        width: 35%;
        background-color: #966d51;
        margin: 0.5em;
        display: inline-block;
        vertical-align: top;
        border-radius: 5px;
    }
    
    #pie {
        height: 5%;
        background-color: #8f714dc3;
        text-align: center;
        padding: 5px;
    }
    
    #pie h4 {
        padding: 15px;
        font-size: 30px;
    }
    
    /*Selector de etiqueta*/
    
    ul{
        padding: 15px;
        font-size: 20px;
    }
    
    li{
        display: inline;
        padding: 10px 30px;
        margin: 3em;
    }
    
    /*Selector de evento*/
    
    li a:hover {
        color: crimson;
        text-decoration: none;
        list-style: none;
    }